* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* import fonts */
@font-face {
    font-family: "Big Shoulders Display";
    src: url(./fonts/BigShouldersDisplay-Black.ttf);
}

@font-face {
    font-family: "Big Shoulders Display Bold";
    src: url(./fonts/BigShouldersDisplay-Bold.ttf)
}

@font-face {
    font-family: "Outfit Light";
    src: url(./fonts/Outfit-Light.ttf);
}

/* set color */
:root {
    --orange: #D5966C;
    --black: #151515;
    --grey: #444444;
    --white: #FFFFFF;
}

body {
    min-width: 300px;
    height: 100vh;
}

/* location header */
.location__header {
    min-height: 500px;
    min-width: 375px;
}

#map {
    height: 500px;
    width: 100%;
}

.leaflet-fade-anim .leaflet-tile,.leaflet-zoom-anim .leaflet-zoom-animated {
     will-change:auto !important; 
} 

/* location button */
.button-here {
    position: absolute;
    top: 0;
    left: 0;
    height: 72px;
    width: 264px;
    display: flex;
    flex-direction: row;
    text-decoration: none;
}

.button-here:hover .arrow-left {
    background: var(--black);
}

.button-here:hover .home-button {
    background: var(--orange);
}

.arrow-left {
    background: var(--orange);
    width: 56px;
    height: 72px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
}

.home-button {
    height: 100%;
    width: 204px;
    display: flex;
    justify-content: center;
    align-items: center; 
    background: var(--black);
    transition: 0.5s;

    font-family: "Big Shoulders Display Bold";
    font-size: 20px;
    color: var(--white);
    line-height: 24px;
    letter-spacing: 3.63px;
    text-transform: uppercase;
}

/* main body */
.location__container {
    height: 493px;
    max-width: 43.75em;
    background: var(--black);
    padding: 48px 16px;
}

.location__container > h1 {
    font-family: "Big Shoulders Display Bold";
    font-size: 50px;
    line-height: 45px;
    text-transform: uppercase;
    color: var(--white);
}

/* King street to paragraph */
.location__information {
    margin-top: 45px;
}

.location__information > h2 {
    margin-bottom: 20px;
    font-family: "Big Shoulders Display Bold";
    font-size: 32px;
    text-transform: uppercase;
    color: var(--orange);
}

/* location address */
.address {
    height: 84px;
    width: 343px;
}

.address > span {
    display: block;
    font-family: "Outfit Light";
    font-size: 18px;
    line-height: 28px;
    color: var(--white);
    font-weight: 400;
}

/* location paragraph */
.location__information > p {
    margin-top: 20px;
    font-family: "Outfit Light";
    font-size: 18px;
    line-height: 28px;
    color: var(--white);
}

/* footer */
.footer {
    height: 336px;
    padding: 45px 32px;
    background: var(--orange);
    max-width: 43.75em;

}

/* footer area for title and paragraph */
.footer-content > h4 {
    font-family: "Big Shoulders Display";
    font-size: 23px;
    font-weight: 500;
    line-height: 20px;
    color: var(--black);
}

.footer-content > h4 > span {
    display: block;
}

.footer-content > p {
    margin-top: 39px;
    font-family: "Outfit Light";
    font-size: 16px;
    line-height: 26px;
    color: var(--black);
}

/* footer social media */
.container-social-media {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 113px;
    margin: 40px auto 0 0;
}

.facebook-svg > path,
.instagram-svg > path,
.twitter-svg > path {
    fill: var(--black);
    cursor: pointer;
}


.facebook-svg:hover > path,
.instagram-svg:hover > path,
.twitter-svg:hover > path {
    fill: var(--white);
    cursor: pointer;
}


/* tablet mode */
@media screen and (min-width: 768px) {
    .location__header {
        max-height: 1100px;
        max-width: 1300px;
    }
    
    .button-here {
        margin-left: 37px;
    }
    
    .location__container {
        max-height: 1100px;
        max-width: 1300px;
        padding: 86px 40px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    
    .location__container > h1 {
        height: 100%;
        max-width: 400px;
        margin-right: 101px;
    }
    
    .location__information {
        margin-top: 0px;
        min-width: 400px;
        max-width: 555px;
    }
    
    /* footer */
    .footer {
        height: 216px;
        max-width: 1300px;
        padding: 3.375em 2.375em;
    }

    .footer-content {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .footer-content > h4 {
        width: 110px;
    }

    .footer-content > p {
        max-width: 430px;
        margin-top: 0px;
    }

    .container-social-media {
        margin: 0px;
    }

}

@media screen and (min-width: 1400px) {
    .location__header {
        height: 685px;
        width: 100vw;
    }

    .button-here {
        margin-left: 156px;
    }

    /* main body */
    .location__container {
        height: 600px;
        width: 100vw;
        padding: 104px 150px 126px 165px;

    }

    .location__container > h1 {
        font-size: 70px;
        line-height: 70px;
        max-width: 350px;
        margin-right: 300px;
    }

    .location__information {
        width: 540px;
    }

    .location__information > h2 {
        font-size: 36px;
        line-height: 36px;
    }

    .address {
        height: 100px;
    }

    .address > span,
    .location__information > p {
        font-size: 23px;
        line-height: 32px;
    }

    /* footer */
    .footer {
        width: 100vw;
        padding: 80px 165px;
    }

    .footer-content {
        justify-content: space-between;
    }

    .footer-content > h4 {
        font-size: 27px;
        line-height: 27px;
        margin-right: 0px;
        width: 160px;
    }

    .footer-content > p {
        width: 430px;
        font-size: 18px;
        line-height: 28px;
    }
}
