* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* import fonts */
@font-face {
    font-family: "Big Shoulders Display";
    src: url(./fonts/BigShouldersDisplay-Black.ttf);
}

@font-face {
    font-family: "Outfit Light";
    src: url(./fonts/Outfit-Light.ttf);
}

/* set color */
:root {
    --orange: #D5966C;
    --black: #151515;
    --grey: #444444;
    --white: #FFFFFF;
}

/* Mobile view for width 375px */

/* header */
.main-head {
    min-width: 291px;
    max-width: 35em;
    max-height: 630px;
}

/* cover image */
.image-mobile-hero {
    height: 240px;
    max-width: 100%;
    display: block;
    background-image: url("./assets/mobile/image-hero.jpg");
    background-size: contain;
    background-repeat: no-repeat;
}

/* title and p in header */
.hero-section {
    max-width: 35em;
    margin-top: 1.875em;
    padding: 0px 17px;
}

.hero-section > h1 {
    width: 100%;
    font-family: "Big Shoulders Display";
    font-size: 60px;
    line-height: 55px;
    font-weight: 500;
    text-align: left;
    color: var(--black);
}

.hero-section__span {
    display: block;
}

.header-paragraph-container > p {
    margin-top: 32px;
    font-family: "Outfit Light";
    font-size: 18px;
    color: var(--grey);
    line-height: 28px;
}

/* location anchor box */
.hero-section__location {
    width: 260px;
    height: 72px;
    margin: 32px 0px 0px 0px;
    display: flex;
    flex-direction: row;
    text-decoration: none;
}

.hero-section__location:hover .hero-section__anchor {
    background: var(--orange);
}

.hero-section__location:hover .arrow-right {
    background: var(--black);
}

/* location anchor */
.hero-section__anchor {
    height: 100%;
    width: 204px;
    display: flex;
    justify-content: center;
    align-items: center; 
    background: var(--black);
    transition: 0.5s;

    font-family: "Big Shoulders Display";
    font-size: 20px;
    color: var(--white);
    line-height: 24px;
    letter-spacing: 3.63px;
    font-weight: 500;
}

.arrow-right {
    background: var(--orange);
    width: 56px;
    height: 72px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
}


/* main body */
.body__container {
    height: 1605px;
    min-width: 291px;
    max-width: 35em;
    margin: 114px 0px 0px 16px;
}


/* fix background image later */
.gallery {
    height: 320px;
    max-width: 100%;
    display: block;
    background-image: url(./assets/mobile/image-grid-1@2x.jpg);
    background-size: contain;
    background-repeat: no-repeat;

}

.gallery-header > h2 {
    margin-top: 21px;
    font-family: "Big Shoulders Display";
    font-size: 50px;
    line-height: 45px;
    text-transform: uppercase;
    font-weight: 500;
}

.gallery-header >  span {
    display: block;
}


.gallery-header > p {
    margin-top: 26px;
    font-family: "Outfit Light";
    font-family: 18px;
    line-height: 28px;
    color: var(--grey);
    margin-right: 40px;
}

/* control size and lighting for the picture later */
.bench-pic {
    margin-top: 27px;
    max-width: 35em;
    height: 480px;
    background-image: url(./assets/mobile/image-grid-2.jpg);
    background-repeat: no-repeat;
}

.bench-desktop-pic {
    display: none;
}

.ally-way-pic {
    margin-top: 14px;
    height: 200px;
    background-image: url(./assets/mobile/image-grid-3@2x.jpg);
    background-size: contain;
    background-repeat: no-repeat;

}

.invite-message {
    height: 293px;
    max-width: 35em;
    margin-top: 14px;
    padding: 44px 25px;
    background: var(--black)
}

.invite-message > h3 {
    font-family: "Big Shoulders Display";
    font-size: 50px;
    font-weight: 500;
    line-height: 45px;
    text-transform: uppercase;
    margin-bottom: 26px;
    color: var(--white);
    
}

.invite-message > p {
    font-family: "Outfit Light";
    font-size: 18px;
    line-height: 28px;
    color: var(--white)
}

/* footer */
.footer {
    height: 336px;
    min-width: 291px;
    max-width: 35em;
    margin-top: 115px;
}

.footer-content {
    padding: 45px 32px;
    background: var(--black);
}

.footer-content > h4 {
    font-family: "Big Shoulders Display";
    font-size: 23px;
    font-weight: 500;
    line-height: 20px;
    color: var(--white);
}

.footer-content > h4 > span {
    display: block;
}

.footer-content > p {
    margin-top: 39px;
    font-family: "Outfit Light";
    font-size: 16px;
    line-height: 26px;
    color: var(--white);
}

/* footer social media */
.container-social-media {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 113px;
    margin: 40px auto 0 0;
}

/* Tablet size 768 x 1024 */
@media screen and (min-width: 768px) {

    /* header */
    .main-head {
        height: 700px;
        min-width: 43.75em;
        max-width: 75em;
        background-image: url(./assets/tablet/image-hero@2x.jpg);
        background-size: 437px 700px;
        background-repeat: no-repeat;
        position: absolute;
        top: 0%;
        left: 0%;
    }

    .image-mobile-hero {
        display: none;
    }

    .hero-section {
        height: 410px;
        width: 340px;
        position: absolute;
        top: 145px;
        left: 392px;
        margin-top: 0em;
        padding: 0px;
    }

    /* main body */ 
    .body__container {
        position: absolute;
        min-width: 700px;
        max-width: 62.5em;
        height: 1131px;
        left: 39px;
        top: 820px;
        margin: 0px;
    }

    /* body header and first image */
    .testament-1 {
        height: 400px;
        width: 100%;
        display: grid;
        grid-template-columns: 291px 398px;
    }

    .gallery-header {
        height: 400px;
        width: 291px;
        padding-top: 36px;
        grid-column-start: 1;
        grid-row-start: 1;
    }

    .gallery {
        height: 400px;
        width: 100%;
        display: block;
        background-image: url(./assets/tablet/image-grid-1@2x.jpg);
        background-repeat: no-repeat;
        grid-column-start: 2;
        grid-column-end: 3;
    }

    /* body picture and invite message */
    .testament-2 {
        display: flex;
        flex-direction: row;
    }

    .bench-pic {
        background-image: url(./assets/tablet/image-grid-2@2x.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        margin-top: 11px;
        height: 720px;
        width: 398px;
    }

    .testament-3 {
        height: 720px;
        width: 280px;
        margin-top: 11px;
        margin-left: 11px;
        display: grid;
        grid-template-rows: 312px 312px;
        row-gap: 10px;
    }

    .ally-way-pic {
        height: 312px;
        width: 280px;
        background-image: url(./assets/tablet/image-grid-3@2x.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        margin-top: 0px;
    }

    .invite-message {
        margin-top: 0px;
        height: 396px;
        padding: 85px 29px;
    }
    
    /* footer */
    .footer {
        position: absolute;
        left: 0px;
        top: 2071px;
        max-width: 800px;
        height: 216px;
        margin-top: 0px;
        padding: 45px 32px;
        background: var(--black);
    }

    .footer-content {
        display: flex;
        flex-direction: row;
        padding: 0px;
    }

    .footer-content > h4 {
        width: 110px;
        margin-right: 65px;
    }

    .footer-content > p {
        width: 255px;
        margin-top: 0px;
        margin-right: 155px;
    }

    .container-social-media {
        margin: 0px;
    }
}

/* Desktop Mode */
@media screen and (min-width: 1400px) {
    /* header */
    .main-head {
        height: 800px;
        width: 990px;
        background-image:
        linear-gradient(to right, white 0 55%, black 55% 100%),
         url(./assets/desktop/image-hero@2x.jpg);
        background-size: 450px 800px, 540px 800px;
        background-repeat: no-repeat, no-repeat;
        background-position: left top, 450px 0px;
    }

    .hero-section {
        top: 193px;
        left: 165px;
        height: 454px;
        width: 1108px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 28em;
    }

    .hero-section > h1 {
        mix-blend-mode: difference;
        color: var(--white);
        width: 400px;
        font-size: 100px;
        line-height: 120px;
        text-align: left;
    }

    .header-paragraph-container {
        height: 100%;
        width: 351px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .header-paragraph-container > p {
        margin-top: 80px;
    }

    .hero-section__location {
        margin-top: 30px;
    }

    /* main body */
    .body__container {
        left: 165px;
        height: 1150px;
        width: 1110px;
    }

    .testament-1 {
        width: 100%;
        grid-template-columns: 291px auto;
    }

    .gallery {
        height: 400px;
        max-width: 100%;
        display: block;
        margin-left: 0px;
        background-image: url(./assets/desktop/image-grid-1@2x.jpg);
        background-size: cover;
    }

    .gallery-header {
        max-width: 25em;
    }

    .testament-2 {
        width: 100%;
        padding-top: 30px;
    }

    .bench-pic {
        background-image: unset;
        flex-basis: 635px;
        margin-top: 0px;
    }

    .bench-desktop-pic {
        display: block;
        width: 100%;
        height: 100%;
    }

    .testament-3 {
        margin-top: 0px;
        margin-left: 30px;
        width: 550px;
        row-gap: 30px;
    }

    .ally-way-pic {
        height: 313px;
        width: 100%;
        background-image: url(./assets/desktop/image-grid-3@2x.jpg);
        background-size: cover;
    }

    .invite-message {
        height: 377px;
        width: 100%;
    }

    .invite-message > h3 {
        width: 350px;
        height: 120px;
        font-size: 60px;
        line-height: 60px;
    }

    .invite-message > p {
        width: 350px;
        height: 96px;
        font-size: 22px;
        line-height: 32px;
    }

    /* footer */
    .footer {
        min-width: 1400px;
        padding: 80px 165px;
    }

    .footer-content {
        width: 100%;
        justify-content: space-between;
    }

    .footer-content > h4 {
        width: 160px;
        font-size: 27px;
        line-height: 27px;
        margin-right: 0px;
        
    }

    .footer-content > p {
        width: 430px;
        font-size: 18px;
        line-height: 28px;
    }
}