* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* import fonts */
@font-face {
    font-family: "Big Shoulders Display";
    src: url(./fonts/BigShouldersDisplay-Black.ttf);
}

@font-face {
    font-family: "Outfit Light";
    src: url(./fonts/Outfit-Light.ttf);
}

/* set color */
:root {
    --orange: #D5966C;
    --black: #151515;
    --grey: #444444;
    --white: #FFFFFF;
}

/* Mobile view for width 375px */

/* header */
.main-head {
    min-width: 100%;
    min-height: 630px;
}

/* cover image */
.image-mobile-hero {
    height: 240px;
    background-image: url("./assets/mobile/image-hero.jpg");
    background-size: cover;
}

/* title and p in header */
.hero-section {
    width: 100%;
    margin-top: 30px;
    padding: 0px 17px;
}

.hero-section > h1 {
    width: 343px;
    font-family: "Big Shoulders Display";
    font-size: 60px;
    line-height: 55px;
    font-weight: 500;
    text-align: left;
    margin-left: 0;
}

.hero-section__span {
    display: block;
}

.hero-section > p {
    margin-top: 32px;
    font-family: "Outfit Light";
    font-size: 18px;
    color: var(--grey);
    line-height: 28px;
}

/* location anchor box */
.hero-section__location {
    width: 260px;
    height: 72px;
    margin: 32px 0px 0px 0px;
    display: flex;
    flex-direction: row;
    text-decoration: none;

}

/* location anchor */
.hero-section__anchor {
    height: 100%;
    width: 204px;
    display: flex;
    justify-content: center;
    align-items: center; 
    background: var(--black);

    font-family: "Big Shoulders Display";
    font-size: 20px;
    color: var(--white);
    line-height: 24px;
    letter-spacing: 3.63px;
    font-weight: 500;
}

.arrow-right {
    background: var(--orange);
    width: 56px;
    height: 72px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* main body */
.body__container {
    height: 1605px;
    width: 343px;
    margin: 114px 0px 0px 16px;
}


/* fix background image later */
.gallery {
    height: 320px;
    width: 100%;
    background-image: url(./assets/mobile/image-grid-1@2x.jpg);
    background-size: cover;

}

.body__container > h2 {
    margin-top: 21px;
    font-family: "Big Shoulders Display";
    font-size: 50px;
    line-height: 45px;
    text-transform: uppercase;
    font-weight: 500;
}

.body__container > h2 > span {
    display: block;
}


.body__container > p {
    margin-top: 26px;
    font-family: "Outfit Light";
    font-family: 18px;
    line-height: 28px;
    color: var(--grey);
    margin-right: 40px;
}

/* control size and lighting for the picture later */
.bench-pic {
    margin-top: 27px;
    width: 100%;
    height: 480px;
    background-image: url(./assets/mobile/image-grid-2.jpg);
}

.ally-way-pic {
    margin-top: 14px;
    height: 200px;
    background-image: url(./assets/mobile/image-grid-3@2x.jpg);
    background-size: cover;
}

.invite-message {
    height: 293px;
    margin-top: 14px;
    padding: 44px 25px;
    background: var(--black)
}

.invite-message > h3 {
    font-family: "Big Shoulders Display";
    font-size: 50px;
    font-weight: 500;
    line-height: 45px;
    text-transform: uppercase;
    margin-bottom: 26px;
    color: var(--white);
    
}

.invite-message > p {
    font-family: "Outfit Light";
    font-size: 18px;
    line-height: 28px;
    color: var(--white)
}

/* footer */
.footer {
    height: 336px;
    margin-top: 115px;
}

.container-footer {
    padding: 45px 32px;
    background: var(--black);
}

.container-footer > h4 {
    font-family: "Big Shoulders Display";
    font-size: 23px;
    font-weight: 500;
    line-height: 20px;
    color: var(--white);
}

.container-footer > h4 > span {
    display: block;
}

.container-footer > p {
    margin-top: 39px;
    font-family: "Outfit Light";
    font-size: 16px;
    line-height: 26px;
    color: var(--white);
}

/* footer social media */
.container-social-media {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 113px;
    margin: 40px auto 0 0;
}